@import "../../../assets/styles/light-theme";
@import "../../../assets/styles/input";


#add-task {
  display: flex;
  margin: 1rem 0;
  position: sticky;
  top: 1rem;
  background-color: $add-task-color;
  backdrop-filter: blur(3rem);

  input {
    flex: auto;
    margin: 1rem 0 1rem 1rem;
  }
}
